# Use GitHub Packages as the registry for @durkinza packages
@durkinza:registry=https://npm.pkg.github.com/
# Auth token will be provided by the environment variable during CI
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}